<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html> 
<head>
	<meta charset="UTF-8">
	<title>Get Involved - NGO Website Template</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div id="header">
		<div>
			<a href="index.html" id="logo"><img src="images/logo.png" alt="logo"></a>
			<ul>
				<li>
					<a href="index">Home</a>
				</li>
				<li>
					<a href="about">About</a>
				</li>
				<li>
					<a href="campaigns">Campaigns</a>
				</li>
				<li class="current">
					<a href="getinvolved">Get Involved</a>
				</li>
				
			</ul>
		</div>
	</div>
	<div id="body">
		
     <p>below is the result of the stats</p>

			
</body>
</html>